.skel {
  width: 35rem;
  margin: 2rem auto;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  margin: auto;
  color: pink;
  text-align: center;
}

img {
  display: block;
  margin: 3rem auto;
  width: 25rem;
}

p {
  text-align: justify;
}

#next {
  display: block;
  margin-top: 5rem;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
